@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 600;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

@font-face {
	font-family: "San Francisco";
	font-weight: 800;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::-webkit-scrollbar-track {
	background-color: transparent!important;
}

html,
body {
	@apply h-full overflow-hidden;
	font-family: "San Francisco", Helvetica, serif;
}

.input {
	@apply rounded-md;
}

.btn {
	@apply rounded-md;
}

.table {
	@apply bg-surface-50;
}

.link {
	@apply font-semibold hover:text-primary-500;
}